@import "tailwindcss";
@import "../assets/css/1ea02e4097a6032f.css";
@import "../assets/css/5e92cf7f60fe936c.css";
@import "../assets/css/66ef8a8a4f2f9d77.css";
@import "../assets/css/8ce085cb5bdd8f8b.css";
@import "../assets/css/afa457c7cbb82fe2.css";
@import "../assets/css/d0111dc3897561f3.css";
@import "../assets/css/d1438c903ed50457.css";
@import "../assets/css/da3c7d5c2492d98f.css";
@import "../assets/css/f235fe7a9b96574c.css";
@import "../assets/css/f6fd945240279490.css";
@import "../assets/css/eb4d87879cf5d36e.css";
@import "../assets/css/3b5ee374cdccf63b.css";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --font-sans: var(--font-inter);
}
w3m-legal-footer {
  display: none !important;
}
wui-ux-by-reown.branding-only {
  display: none !important;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-inter);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffff;
  color: var(--foreground);
  font-family: "Inter";
}

.testimonial_section .splide__track {
  padding: 0 0 30px 0;
}
